<div class="page">
<%= form_for @staff do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>
      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="staff-form-container">
  <div class="row staff-form">
	<div class="name">
		<%= f.label :name %><br>
		<%= f.text_field :name, :class => "name-field" %>
		<div class="room">
			<%= f.label :room %><br>
			<%= @staff.room_number %>
			<div class="time-in">
				<%= f.label :time_in %><br>
				<%= f.time_select :time_in, :default => {:hour => '00', :minute => '00'}, :min => (!@staff.time_in ? Time.now.strftime('%H:%M') : @staff.time_in.strftime('%H:%M')), ampm: true %>		
				<div class="time-out">
					<%= f.label :time_out %><br>
					<%= f.time_select :time_out, :default => {:hour => '00', :minute => '00'}, :min => (!@staff.time_out ? Time.now.strftime('%H:%M') : @staff.time_out.strftime('%H:%M')), ampm: true %>
				</div>
			</div>
		</div>
	</div>
	<div class="remark">
		<%= f.label :remark %><br>
		<%= f.text_area :remark %>
			<div class="staff-submit-button action">
				<%= f.submit "Create housekeeping" %>
			</div>
	</div>
  </div>
  </div>
<% end %>
</div>
