<%= form_for @account do |f| %>
  <div class="account-form-container">
    <div class="row">
      <div class="room-field">
      <%= f.label :room %><br>
      <%= f.number_field :room_no, :id => "input-no" %>
        <div class="price-field">
        <%= f.label :Price %><br>
        <%= f.number_field :price, :id => "input-no" %>
          <div class="cc-field">
          <%= f.label :C %><b>C</b><br>
          <%= f.number_field :cc, :id => "input-no" %>
            <div class="hr-field">
            <%= f.label :Hr_Use %><br>
            <%= f.number_field :hr_use, :id => "input-no" %>
              <div class="hr-cc-field">
              <%= f.label :Hr %><b>CC</b><br>
              <%= f.number_field :hr_cc, :id => "input-no" %>
                <div class="ext-field">
                <%= f.label :ext %><br>
                <%= f.number_field :extension, :id => "input-no" %>
                  <div class="dep-field">
                  <%= f.label :dep %><br>
                  <%= f.number_field :deposit, :id => "input-no" %>
                    <div class="misc-field">
                    <%= f.label :misc %>.<br>
                    <%= f.number_field :miscellaneous, :id => "input-no" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="account-remark">
      <%= f.label :Remark %><br>
      <%= f.text_area :remark %>
        <div class="submit-button actions">
          <%= f.submit "Create Account" %>
        </div>
    </div>
    <% if @account.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
        <ul>
        <% @account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
 <% end %>

<script type="text/javascript">
 var dp1 = $('#dp1').datepicker({
    todayHighlight: true,
    format: 'dd M yyyy'
  }).on('changeDate', function(ev) {
    dp1.hide();
  }).data('datepicker');
</script>
 