<div class="page">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class="date-col">Date</th>
      <th class="time-created-col">Time</th>
      <th class="invoice-no-col">Invoice</th>
      <th class="room-no-col">Room</th>
      <th class="day-price-col">Day</th>
      <th class="cc-col">CC</th>
      <th class="gst-col">GST</th>
      <th class="hr-col">Hr Use</th>
      <th class="hr-cc-col">Hr CC</th>
      <th class="extension-col">Ext.</th>
      <th class="deposit-col">Deposit</th>
      <th class="misc-col">Misc</th>
      <th class="remark-col">Remark</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @day_accounts.each do |account| %>
        <tr>
        	<td class="date-col"><%= account.account_date.strftime('%d %b %Y') %></td>
          <td class="time-created-col"><%= account.created_at.to_time.strftime("%R") %></td>
          <td class="invoice-no-col"><%= account.invoice_no %></td>
          <td class="room-no-col"><%= account.room_no %></td> 
          <td class="day-price-col"><%= account.price %></td>
          <td class="cc-col"><%= account.cc %></td>
          <% if account.price %>
          <td class="gst-col"><%= ((account.price/1.06)* 0.06).round(2) %></td>
          <% else %>
          <td class="gst-col">0</td>
          <% end %>
          <td class="hr-col"><%= account.hr_use %></td>
          <td class="hr-cc-col"><%= account.hr_cc %></td>
          <td class="extension-col"><%= account.extension %></td>
          <td class="deposit-col"><%= account.deposit %></td>
          <td class="misc-col"><%= account.miscellaneous %></td>
          <td class="remark-col"><%= account.remark %></td>
          <td><%= link_to "Edit", edit_account_path(id: account.id) %></td>
        </tr>
    <% end %>
    <tr>
    	<td class="total total-title">Totals</td>
      <td class="total time-created-col"></td>
    	<td class="total invoice-no-col"></td>
    	<td class="total room-no-col"><%= @day_accounts.length %></td>
    	<td class="total total-day-price"><%= @day_total_price || 0 %></td>
      <td class="total cc-col"><%= @day_total_cc %></td>
      <% if @day_total_gst %>
      <td class="total gst-col"><%= @day_total_gst.round(2) %></td>
      <% else %>
      <td class="total gst-col">0</td>
      <% end %>
      <td class="total total-hr-col"><%= @day_total_hr || 0 %></td>
      <td class="total hr-cc-col"><%= @day_total_hr_cc || 0 %></td>
      <td class="total extension-col"></td>
    	<td class="total deposit-col"><%= @day_total_deposit || 0 %></td>
      <td class="total total-misc-col"><%= @day_total_misc || 0 %></td>
      <td class="total total-title-col"></td>
      <td class="total total-price-col"><%= @day_total %></td>
    </tr>
  </tbody>
</table>
</div>